.container {
  cursor: text;
  position: relative;
  width: fit-content;
  display: flex;
  padding: 8px;
  border: 2px solid grey;
  border-radius: 4px;

  &.containerSuccess {
    border-color: #4ca56e;
  }

  &.containerError {
    border-color: #b93535;
  }

  &.hidden {
    display: none;
  }

  &.disabled {
    background: #95959553;
  }
}

.input {
  background: transparent;
  border: none;
  font-size: 16px;
}

.label {
  cursor: text;
  font-weight: 500;
  position: absolute;

  padding: 0 2px;
  border-radius: 5px;
  background-color: transparent;

  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

  opacity: 0.7;

  &.labelFocused {
    background-color: white;
    opacity: 1;
    transform: scale(0.8) translateY(-120%) translateX(-12px);
  }

  &.labelSuccess {
    color: #4ca56e;
  }

  &.labelError {
    color: #b93535;
  }

  &.labelFixed {
    background-color: white;
    opacity: 1;
    transform: scale(0.8) translateY(-120%) translateX(-12px);
  }
}
